<?php

declare(strict_types=1);

return [
    'senders' => [
        // 'PROMO',
    ],
    'keywords' => [
        // 'выгодное предложение',
    ],
    'fragments' => [
        // 'реклам',
    ],
];
